<div class="container">
  <div class="row">
    <h2>Operations</h2>
    <h2>{{ user.credit }}₺</h2>
  </div>

  <div class="content">
    <a routerLink="sell">
      <div class="container">
        <div class="content">
          <img
            src="https://i.ibb.co/LzB4fbD/icons8-farmer-100.png"
            alt="SellOperation"
          />
        </div>
        <h3>Sell Product</h3>
      </div>
    </a>
    <a routerLink="take">
      <div class="container">
        <div class="content">
          <img
            src="https://i.ibb.co/7JNSx2R/icons8-farm-100.png"
            alt="TakeOperation"
          />
        </div>
        <h3>Take Product</h3>
      </div>
    </a>
    <a routerLink="moneydeposit">
      <div class="container">
        <div class="content">
          <img
            src="https://i.ibb.co/jznJdCP/icons8-sales-performance-100.png"
            alt="MoneyDepositOperation"
          />
        </div>
        <h3>Deposit Money</h3>
      </div>
    </a>
    <a routerLink="load">
      <div class="container">
        <div class="content">
          <img
            src="https://i.ibb.co/P5R4CPK/icons8-new-product-100.png"
            alt="LoadOperaiton"
          />
        </div>
        <h3>Load Product</h3>
      </div>
    </a>
    <a href="#" (click)="getReport()">
      <div class="container">
        <div class="content">
          <img
            src="https://i.ibb.co/4P6G7mx/icons8-document-100.png"
            alt="Report"
          />
        </div>
        <h3>Get Report</h3>
      </div>
    </a>
  </div>
</div>

<app-products [Products]="Products"></app-products>
