<div class="container flat">
  <div class="row">
    <div class="container Info">
      <div>
        <h3>Money Deposit</h3>
        <img
          src="https://i.ibb.co/jznJdCP/icons8-sales-performance-100.png"
          alt="Productimg"
        />
      </div>
    </div>
    <div class="container flat">
      <form>
        <div class="form-item">
          <input
            #moneyinput
            type="number"
            step="0.5"
            name="money"
            autocomplete="off"
            required
          />
          <label for="money" class="label-name">
            <span class="content-name">Money (₺)</span>
          </label>
        </div>
        <button type="button" (click)="DepositOperaiton(moneyinput.value)">
          Deposit
        </button>
      </form>
    </div>
  </div>
</div>
