<app-products
  [Products]="products"
  [OperationName]="'adminconfirim'"
></app-products>

<div class="container">
  <h2>Load Operations</h2>
  <div class="content">
    <table mat-table [dataSource]="loadDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="UserId">
        <th mat-header-cell *matHeaderCellDef>UserId</th>
        <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
      </ng-container>
      <ng-container matColumnDef="Product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
      </ng-container>
      <ng-container matColumnDef="Weight">
        <th mat-header-cell *matHeaderCellDef>KG</th>
        <td mat-cell *matCellDef="let element">{{ element.productWeight }}</td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <div class="row">
            <button
              mat-button
              type="reset"
              (click)="submitLoadResponse(this.element, 1)"
              class="approve"
            >
              Approve
            </button>
            <button
              mat-button
              type="reset"
              (click)="submitLoadResponse(this.element, 0)"
              class="reject"
            >
              Reject
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedProductColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedProductColumns"></tr>
    </table>
  </div>
</div>
<div class="container">
  <h2>Deposit Operations</h2>
  <div class="content">
    <table mat-table [dataSource]="depositDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="UserId">
        <th mat-header-cell *matHeaderCellDef>UserId</th>
        <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
      </ng-container>
      <ng-container matColumnDef="Deposit">
        <th mat-header-cell *matHeaderCellDef>Deposit</th>
        <td mat-cell *matCellDef="let element">{{ element.deposit }}</td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <div class="row">
            <button
              mat-button
              type="reset"
              (click)="submitDepositResponse(this.element, 1)"
              class="approve"
            >
              Approve
            </button>
            <button
              mat-button
              type="reset"
              (click)="submitDepositResponse(this.element, 0)"
              class="reject"
            >
              Reject
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedMoneyColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedMoneyColumns"></tr>
    </table>
  </div>
</div>
