<div class="container">
  <div>
    <p>{{ Product.Name }}</p>
    <div
      (click)="
        isClick =
          OperationName != null && OperationName != 'Load' ? true : false
      "
      *ngIf="!isClick"
    >
      <img src="{{ Product.ImgUrl }}" alt="Productimg" />
      <div class="row" *ngIf="OperationName != 'Load'">
        <p>{{ Product.Weight }}</p>
        <p>{{ Product.UnitPrice }}</p>
      </div>
    </div>
    <div *ngIf="OperationName != null && isClick">
      <form action="action" method="post">
        <div class="form-item">
          <input type="" name="weight" autocomplete="off" required />
          <label for="weight" class="label-name">
            <span class="content-name">Weight (KG)</span>
          </label>
        </div>
        <div *ngIf="OperationName == 'Sell'" class="form-item">
          <input type="" name="weight" autocomplete="off" required />
          <label for="weight" class="label-name">
            <span class="content-name">Weight (KG)</span>
          </label>
        </div>
        <div class="row">
          <button type="submit">Sell Order</button>
          <button type="reset" (click)="isClick = false" class="cancel">
            X
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
