<div class="container">
  <div>
    <div
      (click)="
        isClick =
          OperationName != null && OperationName != 'Load' ? true : false
      "
      *ngIf="!isClick"
    >
      <p>{{ Product.name }}</p>
      <img src="{{ Product.imgUrl }}" alt="Productimg" />
      <div class="row" *ngIf="OperationName != 'Load'">
        <p>{{ Product.weight }}</p>
        <p>{{ Product.unitPrice }}</p>
      </div>
    </div>
    <div *ngIf="OperationName == 'Sell' && isClick">
      <form>
        <div class="form-item">
          <input
            #weightinput
            type="number"
            step="0.2"
            name="weight"
            autocomplete="off"
            required
          />
          <label for="weight" class="label-name">
            <span class="content-name">Weight (KG)</span>
          </label>
        </div>
        <div class="form-item">
          <input
            #unitpriceinput
            type="number"
            step="0.2"
            name="unitprice"
            autocomplete="off"
            required
          />
          <label for="unitprice" class="label-name">
            <span class="content-name">Unit Price(₺)</span>
          </label>
        </div>
        <div class="row">
          <button
            type="button"
            (click)="SellOperation(weightinput.value, unitpriceinput.value)"
          >
            Sell
          </button>
          <button type="reset" (click)="isClick = false" class="cancel">
            X
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="OperationName == 'Take' && isClick">
      <form>
        <div class="form-item">
          <input
            #weightinput
            type="number"
            step="0.2"
            name="weight"
            autocomplete="off"
            required
          />
          <label for="weight" class="label-name">
            <span class="content-name">Weight (KG)</span>
          </label>
        </div>
        <div class="row">
          <button
            type="button"
            (click)="TakeOperaiton(weightinput.value, Product.id)"
          >
            Take
          </button>
          <button type="reset" (click)="isClick = false" class="cancel">
            X
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
