<div class="container">
  <h2>Sign In</h2>
  <div class="row">
    <p>Welcome!</p>
    <button routerLink="/register" class="small_button">Sign Up</button>
  </div>
  <form action="action">
    <div class="form-item">
      <input
        #username
        type="text"
        name="username"
        autocomplete="off"
        required
      />
      <label for="username" class="label-name">
        <span class="content-name">Username</span>
      </label>
    </div>
    <div class="form-item">
      <input
        #pass
        type="password"
        name="password"
        autocomplete="off"
        required
      />
      <label for="password" class="label-name">
        <span class="content-name">password</span>
      </label>
    </div>
    <button type="button" (click)="Login(username.value, pass.value)">
      Login
    </button>
  </form>
</div>
